* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  font-family: "M PLUS 1p", sans-serif, "Arial";
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    padding-left: 0;
    padding-right: 0;
  }
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title {
  margin: 0;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.1%;
}
@media (min-width: 1200px) {
  .title {
    font-size: 64px;
  }
}
.title span {
  position: relative;
  z-index: 1;
}
.title span::after {
  position: absolute;
  bottom: 0px;
  left: -5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: -webkit-calc(100% + 10px);
  width: -moz-calc(100% + 10px);
  width: calc(100% + 10px);
  background-color: #fbdc4d;
  height: 11px;
  z-index: -1;
}
@media (min-width: 1200px) {
  .title span::after {
    bottom: 10px;
  }
}
.subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .subtitle {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
  }
}
.mail-link {
  font-size: 18px;
  color: #000;
  text-shadow: 0px 3px 42.32px #ffffff;
  line-height: 1.2;
  border-bottom: 1px solid #000;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
@media (min-width: 1200px) {
  .mail-link {
    font-size: 24px;
  }
}
.mail-link:hover {
  color: #039be5;
  border-bottom: 1px solid #039be5;
}
.mail-link:active {
  color: #ea655f;
  border-bottom: 1px solid #ea655f;
}
.social-icons-wrapper {
  width: 290px;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .social-icons-wrapper {
    margin-bottom: 25px;
  }
}
.social-icons-link {
  display: inline-block;
  margin-right: 25px;
}
.social-icons-link:last-child {
  margin-right: 0px;
}
.social-icons-link img:hover {
  opacity: 0.5;
}
.header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 100px;
}
@media (min-width: 1200px) {
  .header {
    padding-top: 60px;
    padding-bottom: 240px;
    background-image: url(../img/main-page/bg-line.jpg);
    background-position: center;
    background-repeat: repeat-y;
  }
}
.header::after {
  overflow: hidden;
  position: absolute;
  bottom: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 320px;
  height: 280px;
  background-image: url(../img/main-page/header/bg-header.jpg);
  -moz-background-size: cover;
       background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .header::after {
    width: 1600px;
    height: 843px;
    bottom: 600px;
  }
}
.header-about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .header-about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header-photo {
  position: relative;
  padding-top: 25px;
  width: 290px;
  margin-bottom: 45px;
}
@media (min-width: 1200px) {
  .header-photo {
    width: 460px;
    padding-top: 30px;
    margin: 0;
    z-index: 10;
  }
  .header-photo::after {
    position: absolute;
    top: 160px;
    left: 125px;
    content: "";
    width: 474px;
    height: 410px;
    background-image: -webkit-gradient(linear, left top, right top, from(#f4f8f9), to(rgba(244, 248, 249, 0)));
    background-image: -webkit-linear-gradient(left, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    background-image: -moz-linear-gradient(left, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    background-image: -o-linear-gradient(left, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.502;
    z-index: -3;
  }
}
.header-photo-img {
  height: 290px;
}
@media (min-width: 1200px) {
  .header-photo-img {
    height: 410px;
  }
}
.header-content-about {
  width: 100%;
  z-index: 1;
}
@media (min-width: 1200px) {
  .header-content-about {
    max-width: 585px;
  }
}
.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
.header-title span {
  position: relative;
  z-index: 1;
}
.header-title span::after {
  position: absolute;
  bottom: 0px;
  left: -5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: -webkit-calc(100% + 10px);
  width: -moz-calc(100% + 10px);
  width: calc(100% + 10px);
  background-color: #fbdc4d;
  height: 12px;
  z-index: -1;
}
@media (min-width: 1200px) {
  .header-title span::after {
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .header-title {
    font-size: 90px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}
.content-text {
  margin: 0;
  width: 280px;
  text-shadow: 0 3px 42px #fff;
  color: #393f47;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
}
@media (min-width: 1200px) {
  .content-text {
    font-size: 24px;
    line-height: 1.5;
    width: 490px;
    margin-bottom: 30px;
  }
}
.header-battons-wrapper {
  display: none;
}
@media (min-width: 1200px) {
  .header-battons-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 105px;
  }
}
.header-skills {
  padding-top: 280px;
}
@media (min-width: 1200px) {
  .header-skills {
    padding-top: 700px;
  }
}
.header-skills-content {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section-skills-list {
  margin-bottom: 40px;
  width: 230px;
  list-style-type: none;
  font-size: 18px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
  .section-skills-list {
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
    margin-bottom: 45px;
  }
}
.section-skills-list li {
  position: relative;
  margin-bottom: 15px;
}
.section-skills-list li last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .section-skills-list li {
    margin-bottom: 10px;
  }
  .section-skills-list li before {
    position: absolute;
    top: 16px;
    left: -9px;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
    content: "";
    width: 23px;
    height: 2px;
    background-color: #6b6b6b;
  }
}
.header-skills .section-skills-button {
  display: none;
}
@media (min-width: 1200px) {
  .header-skills .section-skills-button {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .header-contacts {
    padding-right: 70px;
  }
}
.header-contacts-subtitle h2 {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .header-contacts-subtitle h2 {
    margin-bottom: 30px;
  }
}
.nav {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .nav {
    max-width: 1400px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
  }
}
.logo {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0.1em;
  z-index: 1;
  margin: 0;
  position: relative;
}
.logo::after {
  position: absolute;
  bottom: 5px;
  left: -5px;
  right: -5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: -webkit-calc(100% + 7px);
  width: -moz-calc(100% + 7px);
  width: calc(100% + 7px);
  background-color: #fbdc4d;
  height: 10px;
  z-index: -2;
}
.logo-link {
  font-size: 42px;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.logo-link:hover {
  color: #ea736d;
}
.nav-menu {
  display: none;
}
@media (min-width: 1200px) {
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    width: 410px;
  }
}
.nav-menu-link {
  color: #000000;
  text-decoration: none;
  position: relative;
  z-index: 2;
}
.nav-menu-link:hover::after {
  position: absolute;
  bottom: 0;
  left: -3px;
  right: -5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: -webkit-calc(100% + 5px);
  width: -moz-calc(100% + 5px);
  width: calc(100% + 5px);
  background-color: #fbdc4d;
  height: 6px;
  z-index: -1;
}
.nav-icons {
  display: none;
}
@media (min-width: 1200px) {
  .nav-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 130px;
  }
}
.nav-icons-link i {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.nav-icons-link {
  font-size: 32px;
  color: #000;
}
.nav-icons-link .fa-linkedin-in:hover,
.nav-icons-link .fa-linkedin-in:active {
  color: #0077b5;
}
.nav-icons-link .fa-github:hover,
.nav-icons-link .fa-github:active {
  color: #6cc644;
}
.nav-icons-link .fa-vk:hover,
.nav-icons-link .fa-vk:active {
  color: #45668e;
}
.nav-menu-hamburger {
  padding-top: 18px;
  height: 35px;
  width: 40px;
  cursor: pointer;
}
.nav-menu-hamburger.nav__menu-icon-active .nav-menu-icon-line {
  background-color: transparent;
}
.nav-menu-hamburger.nav__menu-icon-active .nav-menu-icon-line:before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, -o-transform 0.2s ease-in 0.2s;
  -moz-transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s, -o-transform 0.2s ease-in 0.2s;
}
.nav-menu-hamburger.nav__menu-icon-active .nav-menu-icon-line:after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, -o-transform 0.2s ease-in 0.2s;
  -moz-transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s, -o-transform 0.2s ease-in 0.2s;
}
@media (min-width: 1200px) {
  .nav-menu-hamburger {
    display: none;
  }
}
.nav-menu-icon-line {
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #000000;
}
.nav-menu-icon-line:before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #000000;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: top 0.2s linear 0.2s, -o-transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -moz-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -moz-transform 0.2s ease-in, -o-transform 0.2s ease-in;
}
.nav-menu-icon-line:after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #000000;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: top 0.2s linear 0.2s, -o-transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -moz-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -moz-transform 0.2s ease-in, -o-transform 0.2s ease-in;
}
.buttons-link {
  display: inline-block;
  margin-right: 20px;
  padding: 15px 40px;
  background-color: #fbdc4d;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.buttons-link:hover {
  background-color: #ffd200;
}
.buttons-link:active {
  background-color: #e1bc10;
}
.buttons-link--bgc {
  padding: 11px 36px;
  background-color: #fff;
  border: 4px solid #464646;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.buttons-link--bgc:hover {
  border-color: #797979;
  color: #797979;
}
.section-portfolio {
  padding: 55px 0 95px;
  background-color: #f4f8f9;
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding: 105px 0 125px;
  }
}
.section-portfolio-title {
  margin-bottom: 45px;
}
@media (min-width: 1200px) {
  .section-portfolio-title {
    margin-bottom: 60px;
  }
}
.section-portfolio-filter {
  display: none;
}
@media (min-width: 1200px) {
  .section-portfolio-filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.section-portfolio-filter li {
  margin-right: 85px;
}
.section-portfolio-filter li:last-child {
  margin-right: 0;
}
.section-portfolio-filter-link {
  font-size: 28px;
  color: #8fa5ae;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.section-portfolio-filter-link:hover {
  color: #ed574f;
}
.portfolio-link-active {
  color: #000;
  cursor: default;
}
.project-card {
  margin-bottom: 45px;
}
@media (min-width: 1200px) {
  .project-card {
    width: 555px;
    margin-bottom: 65px;
  }
}
.project-card-img-wrapper {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .project-card-img-wrapper {
    margin-bottom: 20px;
  }
}
.project-card-img {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.project-card-img:hover {
  -webkit-transform: scale(1.03);
     -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
       -o-transform: scale(1.03);
          transform: scale(1.03);
}
.big-img {
  height: 200px;
}
@media (min-width: 1200px) {
  .big-img {
    height: 370px;
  }
}
.small-img {
  height: 200px;
}
@media (min-width: 1200px) {
  .small-img {
    height: 240px;
  }
}
.project-card-title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .project-card-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
.project-card-title-link {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.project-card-title-link:hover {
  color: #ed574f;
  text-decoration: underline;
}
.project-card-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: #868989;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
  .project-card-subtitle {
    font-size: 22px;
  }
}
.project-card-small {
  width: 360px;
}
.project-card-small-img-wrapper {
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .project-card-small-img-wrapper {
    margin-bottom: 15px;
  }
}
.project-card-title-small {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .project-card-title-small {
    font-size: 26px;
    margin-bottom: 5px;
  }
}
.project-card-subtitle-small {
  margin: 0;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: #868989;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .project-card-subtitle-small {
    font-size: 20px;
    margin: 0;
  }
}
.portfolio-mobile-link-wrapper {
  display: block;
  padding-top: 5px;
}
@media (min-width: 1200px) {
  .portfolio-mobile-link-wrapper {
    display: none;
  }
}
.portfolio-mobile-link {
  text-shadow: 0 3px 42px #fff;
  color: #039be5;
  font-size: 20px;
  font-weight: 400;
}
.portfolio-mobile-link:hover {
  color: #ed574f;
}
.section-work {
  position: relative;
  padding-top: 50px;
}
@media (min-width: 1200px) {
  .section-work {
    padding: 140px 0;
    background-image: url(../img/main-page/work/bg-work.jpg);
    background-position: center;
    background-repeat: repeat-y;
  }
}
.section-work-title-wrapper {
  margin-bottom: 45px;
  text-align: center;
}
@media (min-width: 1200px) {
  .section-work-title-wrapper {
    margin-bottom: 155px;
  }
}
.section-work-title {
  font-size: 38px;
}
.section-work-title span::after {
  bottom: 0px;
  width: -webkit-calc(100% + 7px);
  width: -moz-calc(100% + 7px);
  width: calc(100% + 7px);
}
@media (min-width: 1200px) {
  .section-work-title {
    font-size: 64px;
  }
  .section-work-title span::after {
    bottom: 6px;
    left: -5px;
    width: -webkit-calc(100% + 10px);
    width: -moz-calc(100% + 10px);
    width: calc(100% + 10px);
  }
}
.section-work-container {
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .section-work-container {
    padding: 0;
  }
}
.section-work-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5px;
}
@media (min-width: 1200px) {
  .section-work-row {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: right;
  }
  .section-work-row:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: left;
  }
}
.section-work-block-content {
  padding-top: 5px;
  padding-bottom: 60px;
  width: 200px;
}
@media (min-width: 1200px) {
  .section-work-block-content {
    padding-top: 22px;
    padding-bottom: 85px;
    width: 425px;
  }
}
.section-work-block-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .section-work-block-title {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
.section-work-block-title span {
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  .section-work-block-title span::after {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
    width: 100%;
    background-color: #fbdc4d;
    height: 7px;
    z-index: -1;
  }
}
.section-work-block-text {
  margin: 0;
  margin-bottom: 5px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
@media (min-width: 1200px) {
  .section-work-block-text {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding: 0;
  }
}
.section-work-block-time {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .section-work-block-time {
    font-size: 18px;
  }
}
.section-work-img-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.section-work-img-wrapper::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -webkit-calc(100% + 20px));
     -moz-transform: translate(-50%, -moz-calc(100% + 20px));
      -ms-transform: translate(-50%, calc(100% + 20px));
       -o-transform: translate(-50%, calc(100% + 20px));
          transform: translate(-50%, calc(100% + 20px));
  content: "";
  width: 4px;
  height: 140px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #e1eef4;
}
@media (min-width: 1200px) {
  .section-work-img-wrapper {
    margin-right: 40px;
    margin-left: 41px;
  }
  .section-work-img-wrapper::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -webkit-calc(-100% - 20px));
       -moz-transform: translate(-50%, -moz-calc(-100% - 20px));
        -ms-transform: translate(-50%, calc(-100% - 20px));
         -o-transform: translate(-50%, calc(-100% - 20px));
            transform: translate(-50%, calc(-100% - 20px));
    content: "";
    width: 4px;
    height: 57px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #e1eef4;
  }
  .section-work-img-wrapper::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -webkit-calc(100% + 20px));
       -moz-transform: translate(-50%, -moz-calc(100% + 20px));
        -ms-transform: translate(-50%, calc(100% + 20px));
         -o-transform: translate(-50%, calc(100% + 20px));
            transform: translate(-50%, calc(100% + 20px));
    content: "";
    width: 4px;
    height: 110px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #e1eef4;
  }
}
.section-work-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.section-contacts {
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
}
@media (min-width: 1200px) {
  .section-contacts {
    padding-top: 28px;
    padding-bottom: 145px;
    background-image: url(../img/main-page/contacts/contact-lines.jpg);
    background-position: center;
    background-repeat: repeat-y;
  }
}
.section-contacts-row {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section-contacts-title-wrapper {
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 1200px) {
  .section-contacts-title-wrapper {
    margin-bottom: 65px;
  }
}
.section-contacts-text-content {
  position: relative;
  padding-top: 23px;
  max-width: 500px;
}
@media (min-width: 1200px) {
  .section-contacts-text-content {
    padding-top: 23px;
    max-width: 500px;
  }
  .section-contacts-text-content:after {
    position: absolute;
    top: -5px;
    left: -355px;
    content: "";
    width: 455px;
    height: 295px;
    background-image: url(../img/main-page/contacts/bg-dots.png);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: contain;
         background-size: contain;
  }
}
.section-contacts-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
  .section-contacts-text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.6;
  }
}
.section-contacts-list {
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .section-contacts-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 490px;
    margin-bottom: 50px;
  }
}
.section-contacts-list dt {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .section-contacts-list dt {
    margin-bottom: 20px;
    width: 165px;
    font-size: 20px;
  }
  .section-contacts-list dt:last-of-type {
    margin-bottom: 0;
  }
}
.section-contacts-list dd {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .section-contacts-list dd {
    margin-bottom: 0;
    width: 295px;
    font-size: 20px;
    color: #96969d;
    line-height: 1.2;
  }
}
.section-contacts-list dd a {
  font-size: 20px;
  color: #039be5;
  line-height: 1.2;
  text-decoration: none;
}
.section-contacts-list dd a:hover {
  color: #ea655f;
}
@media (min-width: 1200px) {
  .section-contacts-form-wrapper {
    padding-right: 20px;
  }
}
.form {
  padding: 85px 15px 40px;
  width: 290px;
  background-color: #fff;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
     -moz-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
}
@media (min-width: 1200px) {
  .form {
    padding: 80px 60px 45px;
    width: 513px;
  }
}
.input-wrapper {
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .input-wrapper {
    margin-bottom: 55px;
  }
}
.input {
  display: block;
  padding-left: 2px;
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  border-bottom: 1px solid #eaeaea;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.input:focus + .fake-placeholder,
.input:valid + .fake-placeholder {
  top: -20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #ed9626;
}
.fake-placeholder {
  position: absolute;
  top: 10px;
  left: 2px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #bcbcbc;
  cursor: text;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.textarea {
  width: 100%;
  height: 125px;
  outline: none;
  border: none;
  border-bottom: 1px solid #eaeaea;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  resize: none;
}
.textarea:focus + .fake-placeholder,
.textarea:valid + .fake-placeholder {
  top: -20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #ed9626;
}
.textarea-wrapper {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .textarea-wrapper {
    margin-bottom: 30px;
  }
}
.submit {
  width: 260px;
  height: 55px;
  border: none;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 22px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .submit {
    width: 200px;
    height: 64px;
    font-size: 22px;
  }
}
.submit:hover {
  background-color: #ffd200;
}
.submit:focus {
  background-color: #ddb705;
}
.footer {
  background-color: #333333;
  padding: 35px 0 35px;
}
@media (min-width: 1200px) {
  .footer {
    padding: 25px 0 35px;
  }
}
.footer-copyright {
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.2;
}
.footer-text {
  font-size: 16px;
  color: #b0b0b0;
}
.footer-text:last-child {
  margin-bottom: 0;
}
.footer-link {
  text-decoration: none;
  color: #b0b0b0;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-link:active {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */