.project-header {

	@media (min-width: 1200px) {
		padding-bottom: 90px;
	}

}

.page-project-nav {
	margin-bottom: 85px;
}

.project-header-content {
	text-align: center;
}

.project-header-title {


	@media (min-width: 1200px) {
		font-size: 48px;

		margin-bottom: 45px;

		span::after {
			bottom: 5px;
		}
	}
}

.project-header-scills {
	justify-content: center;
}

.project-scills-item {
	width: auto;
	color: #fff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.17px;

	padding: 5px 10px;
	margin-right: 10px;
}

.item-html {
	background-color: #ff861a;
}

.item-css {
	background-color: #039be5;
}

.item-bootstrap {
	background-color: #a062c7;
}

.item-js {
	color: #fff;
	background-color: #ffd200;
}

.item-jquery {
	background-color: #044d85;
}

.item-php {
	background-color: #777bb4;
}

.page-project-main-wrapper {

	@media (min-width: 1200px) {
		background-image: url(../img/main-page/bg-line.jpg);
		background-position: center;
		background-repeat: repeat-y;

		margin-bottom: 70px;

	}
}

.page-project-main-content {
	margin-bottom: 110px;
}

.page-project-left-section {



	@media (min-width: 1200px) {
		width: 460px;
	}
}

.project-block-title {

	@media (min-width: 1200px) {
		font-size: 26px;
		margin-bottom: 20px;

		span::after {
			bottom: 0px;
			height: 7px;
		}
	}
}

.page-project-block-links {
	margin-bottom: 50px;
}

.project-block-links-list {

	@media (min-width: 1200px) {
		margin-bottom: 18px;
		padding-left: 45px;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			width: 30px;
			height: 30px;
			top: 2px;
			left: 5px;
			background-repeat: no-repeat;
		}
	}
}

.project-demo {
	&::before {
		background-image: url(../img/project/browser-icon.svg);
	}
}

.project-github {

	&::before {
		background-image: url(../img/project/github-brands.svg);
	}
}

.project-block-links {
	color: #2a86b3;
	font-weight: 400;

	&:hover {
		color: #ed574f;
	}


	@media (min-width: 1200px) {
		font-size: 18px;
		letter-spacing: 0.03em;
	}
}

.page-project-block-about {
	margin-bottom: 55px;
}


.project-block-about-text {
	color: #161616;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.1px;
}

.title-details {
	margin-bottom: 10px;
}

.page-project-block-details {
	display: block;


	@media (min-width: 1200px) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 490px;
		margin-bottom: 0px;
		padding-right: 5px;

		font-size: 16px;
	}


	dt {
		margin: 0;
		font-weight: 700;

		@media (min-width: 1200px) {
			margin-bottom: 30px;
			width: 160px;
			line-height: 1.2;

			&:last-of-type {
				margin-bottom: 0;
			}

			&:nth-child(7) {
				margin-bottom: 65px;
			}
		}

	}

	dd {
		margin: 0;

		@media (min-width: 768px) {}

		@media (min-width: 1200px) {
			width: 290px;
			color: #161616;
			line-height: 1.5;

		}

		a {
			color: #039be5;
			line-height: 1.2;

			&:hover {
				color: #ea655f;
			}
		}
	}
}

.page-project-img-wrapper {
	box-shadow: 20px 20px 100px #c4dbe9;
}

.page-project-pagination {
	width: 100%;
}

.page-project-pagination-link-wrapper {
	text-align: center;

	@media (min-width: 1200px) {
		width: 555px;
		height: 80px;


	}
}

.page-project-pagination-link {
	display: block;
	color: #fff;
	font-family: Roboto;
	font-weight: 300;
	line-height: 1.45;
	letter-spacing: 0.6px;
	background-color: #333333;

	height: 100%;
	width: 100%;

	text-decoration: none;

	&:hover {
		background-color: #656565;
	}

	&:active {
		background-color: #141414;
	}

	@media (min-width: 1200px) {
		font-size: 22px;
		padding: 25px;
	}
}
