.section-portfolio {
	padding: 55px 0 95px;
	background-color: #f4f8f9;

	@media (min-width: 1200px) {
		padding: 105px 0 125px;
	}
}

.section-portfolio-title {
	margin-bottom: 45px;

	@media (min-width: 1200px) {
		margin-bottom: 60px;
	}
}

.section-portfolio-filter {
	display: none;

	@media (min-width: 1200px) {
		display: flex;
		margin-bottom: 50px;
		justify-content: flex-start;
	}
}

.section-portfolio-filter li {
	margin-right: 85px;

	&:last-child {
		margin-right: 0;
	}
}

.section-portfolio-filter-link {
	font-size: 28px;
	color: rgb(143, 165, 174);
	line-height: 1.2;
	font-weight: 700;
	text-decoration: none;

	transition: 0.2s;

	&:hover {
		color: #ed574f;
	}

}

.portfolio-link-active {
	color: #000;
	cursor: default;
}

.project-card {
	margin-bottom: 45px;

	@media (min-width: 1200px) {
		width: 555px;
		margin-bottom: 65px;
	}
}

.project-card-img-wrapper {
	margin-bottom: 15px;

	@media (min-width: 1200px) {
		margin-bottom: 20px;
	}
}

.project-card-img {
	width: 100%;
	transition: 0.3s;

	&:hover {
		transform: scale(1.03);
	}
}

.big-img {
	height: 200px;

	@media (min-width: 1200px) {
		height: 370px;
	}
}

.small-img {
	height: 200px;

	@media (min-width: 1200px) {
		height: 240px;
	}
}

.project-card-title {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;

	margin-bottom: 10px;

	@media (min-width: 1200px) {
		font-size: 32px;
		margin-bottom: 10px;
	}
}

.project-card-title-link {
	color: #000;
	text-decoration: none;
	transition: 0.2s;

	&:hover {
		color: #ed574f;
		text-decoration: underline;
	}
}


.project-card-subtitle {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
	color: #868989;
	letter-spacing: 0.02em;

	@media (min-width: 1200px) {
		font-size: 22px;
	}
}

.project-card-small {
	width: 360px;
}

.project-card-small-img-wrapper {
	margin: 0;
	margin-bottom: 10px;

	@media (min-width: 1200px) {
		margin-bottom: 15px;
	}
}

.project-card-title-small {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.01em;

	margin-bottom: 8px;

	@media (min-width: 1200px) {
		font-size: 26px;
		margin-bottom: 5px;
	}
}

.project-card-subtitle-small {
	margin: 0;
	margin-bottom: 45px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
	color: #868989;
	letter-spacing: 0.03em;

	@media (min-width: 1200px) {
		font-size: 20px;
		margin: 0;
	}
}

.portfolio-mobile-link-wrapper {
	display: block;
	padding-top: 5px;

	@media (min-width: 1200px) {
		display: none;
	}
}

.portfolio-mobile-link {
	text-shadow: 0 3px 42px #fff;
	color: #039be5;
	font-size: 20px;
	font-weight: 400;

	&:hover {
		color: #ed574f;
	}
}
