.section-portfolio {
	padding: 55px 0 95px;
	background-color: #f4f8f9;

	@media (min-width: 768px) {
		padding: 70px 0 95px;
	}

	@media (min-width: 1200px) {
		padding: 105px 0 125px;
	}
}

.section-portfolio-title {
	margin-bottom: 45px;

	@media (min-width: 768px) {
		margin-bottom: 50px;
	}

	@media (min-width: 1200px) {
		margin-bottom: 60px;
	}
}

.section-portfolio-filter {
	display: none;

	@media (min-width: 768px) {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 50px;
	}
}

.section-portfolio-filter li {

	@media (min-width: 768px) {
		margin-right: 50px;
	}

	@media (min-width: 1200px) {
		margin-right: 85px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.section-portfolio-filter-link {
	color: rgb(143, 165, 174);
	line-height: 1.2;
	font-weight: 700;
	text-decoration: none;

	transition: 0.2s;

	&:hover {
		color: #ed574f;
	}

	@media (min-width: 768px) {
		font-size: 24px;
	}

	@media (min-width: 1200px) {
		font-size: 28px;
	}
}

.portfolio-link-active {
	color: #000;
	cursor: default;
}

.project-card {
	margin-bottom: 45px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: 768px) {
		margin: 0;
		width: 338px;
		margin-bottom: 50px;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	@media (min-width: 1200px) {
		width: 560px;
		margin-bottom: 65px;
	}
}

.project-card-small {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 45px;

	&:last-child {
		margin-bottom: 40px;
	}

	@media (min-width: 768px) {
		margin: 0;
		width: 338px;
		margin-right: 20px;
		margin-bottom: 50px;

		&:nth-child(even) {
			margin-right: 0;
		}
	}

	@media (min-width: 1200px) {
		margin: 0;
		width: 360px;
		margin-right: 10px;
		margin-bottom: 30px;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(even) {
			margin-right: 10px;
		}

		&:last-child {
			margin-bottom: 30px;
			margin-right: 0;
		}
	}
}

.project-card-img-wrapper {
	margin-bottom: 20px;
	height: 200px;
	width: 290px;
	position: relative;

	/* &:hover::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	
		background-color: rgba(251, 220, 77, 0.85);
	} */

	@media (min-width: 768px) {
		height: 240px;
		width: 338px;
	}

	@media (min-width: 1200px) {
		height: 370px;
		width: 555px;
		margin-bottom: 25px;
	}
}

.portfolio-small-img {

	@media (min-width: 1200px) {
		height: 240px;
		width: 360px;
		margin-bottom: 20px;
	}
}

.project-card-img {
	height: 100%;
	width: 100%;
	transition: 0.3s;

	&:hover {
		transform: scale(1.03);
	}
}

.project-card-title {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;

	margin-bottom: 10px;

	@media (min-width: 1200px) {
		font-size: 32px;
		margin-bottom: 10px;
	}
}

.project-card-title-link {
	color: #000;
	text-decoration: none;
	transition: 0.2s;

	&:hover {
		color: #ed574f;
		text-decoration: underline;
	}
}


.project-card-subtitle {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
	color: #868989;
	letter-spacing: 0.02em;

	@media (min-width: 1200px) {
		font-size: 22px;
	}
}

.project-card-title-small {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.01em;

	margin-bottom: 8px;

	@media (min-width: 1200px) {
		font-size: 26px;
		margin-bottom: 5px;
	}
}

.project-card-subtitle-small {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
	color: #868989;
	letter-spacing: 0.03em;

	@media (min-width: 1200px) {
		font-size: 20px;
		margin: 0;
	}
}

.portfolio-mobile-link-wrapper {

	@media (min-width: 1200px) {
		display: none;
	}
}

.portfolio-mobile-link {
	text-shadow: 0 3px 42px #fff;
	color: #039be5;
	font-size: 20px;
	font-weight: 400;

	&:hover {
		color: #ed574f;
	}
}
