.section-work {
	position: relative;
	padding-top: 45px;

	@media (min-width: 768px) {
		padding: 60px 0 30px;
	}

	@media (min-width: 1200px) {
		padding: 140px 0 65px;

		background-image: url(../img/main-page/work/bg-work.jpg);
		background-position: center;
		background-repeat: repeat-y;
	}
}

.section-work-title-wrapper {
	margin-bottom: 30px;
	text-align: center;

	@media (min-width: 768px) {
		margin-bottom: 160px;
	}

	@media (min-width: 1200px) {
		margin-bottom: 155px;
	}
}

.section-work-title {
	font-size: 38px;

	span::after {
		bottom: 0px;
		width: calc(~'100% + 7px');
	}

	@media (min-width: 768px) {
		font-size: 52px;
	}

	@media (min-width: 1200px) {
		font-size: 64px;

		span::after {
			bottom: 6px;
			left: -5px;
			width: calc(~'100% + 10px');
		}
	}
}

.section-work-container {
	max-width: 450px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	@media (min-width: 768px) {
		padding: 0;
		max-width: 694px;
	}

	@media (min-width: 1200px) {
		padding: 0;
		max-width: 1005px;
	}
}

.section-work-row {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	margin-bottom: 70px;

	@media (min-width: 768px) {
		padding: 0;
		flex-direction: row;
		justify-content: flex-start;
		text-align: right;
		margin-bottom: 70px;

		&:nth-child(even) {
			flex-direction: row-reverse;
			text-align: left;
		}
	}

	@media (min-width: 1200px) {
		margin-bottom: 85px;

	}
}

.section-work-block-content {
	width: 200px;

	@media (min-width: 768px) {
		padding-top: 22px;
		width: 280px;
	}

	@media (min-width: 1200px) {
		padding-top: 22px;
		width: 425px;
	}
}

.section-work-block-title {
	margin: 0;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.2;

	@media (min-width: 768px) {
		font-size: 24px;
	}

	@media (min-width: 1200px) {
		font-size: 26px;
		margin-bottom: 10px;
	}

	span {
		position: relative;
		z-index: 1;

		&::after {

			@media (min-width: 1200px) {
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateY(-50%);
				content: "";
				width: 100%;
				background-color: #fbdc4d;
				height: 7px;
				z-index: -1;
			}
		}
	}
}

.section-work-block-text {
	margin: 0;
	margin-bottom: 5px;
	padding-right: 5px;

	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;

	@media (min-width: 768px) {
		font-size: 16px;
		line-height: 1.38;
		margin-bottom: 10px;
	}

	@media (min-width: 1200px) {
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 10px;
		padding: 0;
	}
}

.section-work-block-time {
	margin: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;

	@media (min-width: 768px) {
		font-size: 18px;
	}
}

.section-work-img-wrapper {
	position: relative;
	display: inline-block;
	margin-right: 25px;
	width: 74px;
	height: 74px;
	border-radius: 28px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);

	@media (min-width: 768px) {
		margin-left: 30px;
		margin-right: 30px;

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, calc(~'-100% - 20px'));
			content: "";
			width: 4px;
			height: 57px;
			border-radius: 2px;
			background-color: rgb(225, 238, 244);
		}
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, calc(~'100% + 20px'));
		content: "";
		width: 4px;
		height: 140px;
		border-radius: 2px;
		background-color: rgb(225, 238, 244);
	}

	@media (min-width: 1200px) {
		margin-right: 40px;
		margin-left: 41px;

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, calc(~'-100% - 20px'));
			content: "";
			width: 4px;
			height: 57px;
			border-radius: 2px;
			background-color: rgb(225, 238, 244);
		}

		&::after {
			height: 110px;
		}
	}
}

.section-work-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
